<div class="experiencePage">
  <app-menu></app-menu>
  <header id="topPageExperience">
    <h1>Expériences</h1>
  </header>

  <main>
    <div class="e2vr internship">
      <h3>Développeuse web (4 mois)</h3>
      <div class="internship-text">
        <h4>E2VR</h4>
        <p>Intégration Wordpress et Elementor des styles CSS responsive et des scripts Javascript. Intégration des animations CSS sur une application Angular.</p>
      </div>
    </div>

    <div class="meteor internship">
      <h3>Développeuse web (4 mois)</h3>
      <div class="internship-text">
        <h4>Meteor</h4>
        <p>Développement de site web en ReactJS et d’API en PHP.</p>
      </div>
    </div>

    <div class="ebiz internship">
      <h3>Développeuse web front (6 mois)</h3>
      <div class="internship-text">
        <h4>ebizproduction</h4>
        <p>Développement web front, rédaction de feuilles de style SCSS, contrôle qualité des sites web avant mise en ligne, rédaction cahier de test.</p>
      </div>
    </div>

    <div class="oxy internship">
      <h3>Dessinatrice industrielle (2 ans)</h3>
      <div class="internship-text">
        <h4>Oxy signalétique</h4>
        <p>Mise en page d’étiquettes industrielle et de panneau de communication, préparation de fichier pour l’impression et la découpe, triage et conditionnement de produits.</p>
      </div>
    </div>

    <div class="copp-repro internship">
      <h3>Assistante graphiste print</h3>
      <div class="internship-text">
        <h4>Copp Repro</h4>
        <p>Mise en page de catalogues, de cartes de visite, d'affiches, création de logos.</p>
      </div>
    </div>

  </main>

  <footer>
    <p>Développé par Marie Costa - Tous droits réservés ©</p>
    <a id="returnTopExperience"
       (click)="onClick('topPageEducation')">
      Retour en haut de la page</a>
  </footer>

</div>
