<div class="bodyMenu">
  <div class="burger">
    <span></span>
  </div>

  <ul id="menu">
    <li>
      <a routerLink="/home">
        Home <hr class="cross">
      </a>
    </li>
    <li>
      <a routerLink="/about">
        À propos <hr class="cross">
      </a>
    </li>
    <li>
      <a routerLink="/skills">
        Compétences <hr class="cross">
      </a>
    </li>
    <li>
      <a href="/education">
        Formations <hr class="cross">
      </a>
    </li>
    <li>
      <a href="/experience">
        Expériences <hr class="cross">
      </a>
    </li>
  </ul>
</div>
