<div class="aboutPage">
  <app-menu></app-menu>
  <header id="topPage">
    <h1>À propos</h1>
  </header>

  <main>
    <section class="contact">
      <h2>
        Contact
        <hr>
      </h2>

      <ul>
        <li>
          <img src="../../assets/about/mobile-alt-solid.svg" alt="phone">
          <p>
            <span>Tél. : </span> <a href="tel:0664861273">06 64 86 12 73</a>
          </p>
        </li>
        <li>
          <img src="../../assets/about/envelope-regular.svg" alt="phone">
          <p>
            <span>Mail : </span> <a href="mailto:marie.costa13@gmail.com">marie.costa13@gmail.com</a>
          </p>
        </li>
        <li>
          <img src="../../assets/about/github-brands.svg" alt="phone">
          <p>
            <span>GitHub : </span>
            <a href="https://github.com/MarieC-Dev" class="github">MarieC-Dev</a>
          </p>
        </li>
        <li>
          <img src="../../assets/about/linkedin-brands.svg" alt="phone">
          <p>
            <span>LinkedIn : </span>
            <a href="https://www.linkedin.com/in/marie-costa/" class="linkedin">Marie Costa</a>
          </p>
        </li>
      </ul>
    </section>

    <section class="resume">
      <h2>
        Résumé
        <hr>
      </h2>

      <img src="../../assets/about/me.jpg" alt="me">
      <p>
        Âme curieuse et esprit créatif, j’aime apprendre au quotidien.
        <br> <br>
        Actuellement développeuse front-end, mon objectif est de devenir développeuse full-stack. Mon défi personnel est d’apprendre le plus de langage et de framework possible car j’aimerais être polyvalente pour pouvoir être opérationnelle sur n’importe quelles tâches que l’on me confiera. J’ai pour habitude d’apprendre en autodidacte et j’apprécie le fait qu’un professeur ou un collègue de travail soit à mes côtés pour me former.
        <br> <br>
        En septembre 2020, j’ai intégré l’école Epitech en pré-MSc. Depuis la rentrée 2021, je suis en première année de master en alternance, à raison de 3 jours en entreprise et 2 jours à l’école. Je me suis orientée dans cette voie pour apprendre à développer des sites web mais aussi des applications mobiles et des programmes.
      </p>
    </section>

    <section class="hobbies">
      <h2>
        Loisirs
        <hr>
      </h2>

      <div class="divHobby">
        <div>
          <img src="../../assets/about/handball.jpg" alt="hobby-handball">
          <p>
            <span>Handball</span>  <br>
            (pendant 11 ans)
          </p>
        </div>

        <div>
          <img src="../../assets/about/draw.jpg" alt="hobby-handball">
          <p>
            <span>Dessin</span> <br>
            (depuis l'enfance)
          </p>
        </div>

        <div>
          <img src="../../assets/about/snowboard.jpg" alt="hobby-handball">
          <p>
            <span>Snowboard</span> <br>
            (depuis l'âge de 14 ans)
          </p>
        </div>

        <div>
          <img src="../../assets/about/wakeboard.jpg" alt="hobby-handball">
          <p>
            <span>Wakeboard</span> <br>
            (depuis 1 an)
          </p>
        </div>
      </div>

    </section>
  </main>

  <footer>
    <p>Développé par Marie Costa - Tous droits réservés ©</p>
    <a id="returnTop"
       (click)="onClick('topPage')">
      Retour en haut de la page</a>
  </footer>

</div>
