<div class="skillsPage">
  <app-menu></app-menu>
  <header id="topPageSkill">
    <h1>Compétences</h1>
  </header>

  <main>
    <section class="frontSkills">
      <h3>Connaissances en développement front-end :</h3>

      <div class="wrapperSkills">
        <div class="html-css skillComponent">
          <img src="../../assets/skills/html-css.svg" alt="html css">

          <div class="skillContent">
            <div class="skillName">
              <h4>HTML - CSS - SCSS</h4>
              <p>80%</p>
            </div>

            <div class="skillBar eighty">
              <span class="eighty"></span>
            </div>
          </div>
        </div>

        <div class="js skillComponent">
          <img src="../../assets/skills/js.svg" alt="javascript">

          <div class="skillContent">
            <div class="skillName">
              <h4>Javascript</h4>
              <p>60%</p>
            </div>

            <div class="skillBar">
              <span class="sixty"></span>
            </div>
          </div>
        </div>

        <div class="jquery skillComponent">
          <img src="../../assets/skills/jqurery.svg" alt="jquery">

          <div class="skillContent">
            <div class="skillName">
              <h4>jQuery</h4>
              <p>60%</p>
            </div>

            <div class="skillBar">
              <span class="sixty"></span>
            </div>
          </div>
        </div>

        <div class="angular skillComponent">
          <img src="../../assets/skills/angular.svg" alt="angular">

          <div class="skillContent">
            <div class="skillName">
              <h4>Angular</h4>
              <p>40%</p>
            </div>

            <div class="skillBar">
              <span class="fourty"></span>
            </div>
          </div>
        </div>

        <div class="reactjs skillComponent">
          <img src="../../assets/skills/react-brands.svg" alt="react">

          <div class="skillContent">
            <div class="skillName">
              <h4>ReactJS</h4>
              <p>60%</p>
            </div>

            <div class="skillBar">
              <span class="sixty"></span>
            </div>
          </div>
        </div>

        <div class="react-native skillComponent">
          <img src="../../assets/skills/react-brands.svg" alt="react">

          <div class="skillContent">
            <div class="skillName">
              <h4>React Native</h4>
              <p>50%</p>
            </div>

            <div class="skillBar">
              <span class="fifty"></span>
            </div>
          </div>
        </div>

        <div class="flutter skillComponent">
          <img src="../../assets/skills/flutterio-icon.svg" alt="flutter">

          <div class="skillContent">
            <div class="skillName">
              <h4>Flutter</h4>
              <p>30%</p>
            </div>

            <div class="skillBar">
              <span class="thirty"></span>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="backSkills">
      <h3>Connaissances en développement back-end :</h3>

      <div class="wrapperSkills">
        <div class="nodejs skillComponent">
          <img src="../../assets/skills/nodejs.svg" alt="node js">

          <div class="skillContent">
            <div class="skillName">
              <h4>NodeJS</h4>
              <p>30%</p>
            </div>

            <div class="skillBar">
              <span class="thirty"></span>
            </div>
          </div>
        </div>

        <div class="expressjs skillComponent">
          <img src="../../assets/skills/js.svg" alt="photoshop">

          <div class="skillContent">
            <div class="skillName">
              <h4>ExpressJS</h4>
              <p>30%</p>
            </div>

            <div class="skillBar">
              <span class="thirty"></span>
            </div>
          </div>
        </div>

        <div class="php skillComponent">
          <img src="../../assets/skills/php-brands.svg" alt="php">

          <div class="skillContent">
            <div class="skillName">
              <h4>PHP</h4>
              <p>30%</p>
            </div>

            <div class="skillBar">
              <span class="thirty"></span>
            </div>
          </div>
        </div>

        <div class="c skillComponent">
          <img src="../../assets/skills/c.svg" alt="c">

          <div class="skillContent">
            <div class="skillName">
              <h4>C</h4>
              <p>30%</p>
            </div>

            <div class="skillBar">
              <span class="thirty"></span>
            </div>
          </div>
        </div>

        <div class="mongodb skillComponent">
          <img src="../../assets/skills/mongodb.svg" alt="mongodb">

          <div class="skillContent">
            <div class="skillName">
              <h4>MongoDB</h4>
              <p>40%</p>
            </div>

            <div class="skillBar">
              <span class="fourty"></span>
            </div>
          </div>
        </div>

        <div class="postgresql skillComponent">
          <img src="../../assets/skills/postgresql-icon.svg" alt="postgresql">

          <div class="skillContent">
            <div class="skillName">
              <h4>PostgreSQL</h4>
              <p>30%</p>
            </div>

            <div class="skillBar">
              <span class="thirty"></span>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="graphicSkills">
      <h3>Connaissances graphique :</h3>

      <div class="wrapperSkills">
        <div class="skillComponent">
          <img src="../../assets/skills/ai.svg" alt="illustrator">

          <div class="skillContent">
            <div class="skillName">
              <h4>Illustrator</h4>
              <p>80%</p>
            </div>

            <div class="skillBar">
              <span class="eighty"></span>
            </div>
          </div>
        </div>

        <div class="skillComponent">
          <img src="../../assets/skills/ps.svg" alt="photoshop">

          <div class="skillContent">
            <div class="skillName">
              <h4>Photoshop</h4>
              <p>60%</p>
            </div>

            <div class="skillBar">
              <span class="sixty"></span>
            </div>
          </div>
        </div>

        <div class="skillComponent">
          <img src="../../assets/skills/id.svg" alt="indesign">

          <div class="skillContent">
            <div class="skillName">
              <h4>Indesign</h4>
              <p>80%</p>
            </div>

            <div class="skillBar">
              <span class="eighty"></span>
            </div>
          </div>
        </div>

        <div class="skillComponent">
          <img src="../../assets/skills/xd.svg" alt="adobe xd">

          <div class="skillContent">
            <div class="skillName">
              <h4>Xd</h4>
              <p>80%</p>
            </div>

            <div class="skillBar">
              <span class="eighty"></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="otherSkills">
      <h3>Autres connaissances :</h3>

      <div class="wrapperSkills">
        <div class="skillComponent">
          <img src="../../assets/skills/wordpress-brands.svg" alt="wordpress">

          <div class="skillContent">
            <div class="skillName">
              <h4>Wordpress</h4>
              <p>50%</p>
            </div>

            <div class="skillBar">
              <span class="fifty"></span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <footer>
    <p>Développé par Marie Costa - Tous droits réservés ©</p>
    <a id="returnTopSkill"
       (click)="onClick('topPageSkill')">
      Retour en haut de la page</a>
  </footer>

</div>
