<div class="educationPage">
  <app-menu></app-menu>
  <header id="topPageEducation">
    <h1>Formations</h1>
  </header>

  <main>
    <section class="sectionEducationImg">
      <img src="../../assets/education/formations.svg" alt="education img" class="educationImg">
    </section>

    <section id="container-legende">
      <div id="legende">
        <!-- Animation bordure legende -->
        <span class="animation"></span>
        <span class="animation"></span>
        <span class="animation"></span>
        <span class="animation"></span>

        <h2>Légende :</h2>
        <ul>
          <li><span>1. </span> RPIP : Réalisation de Produits Imprimés et Plurimédia.</li>
          <li><span>2. </span> PG : Production Graphique.</li>
          <li><span>3. </span> ERPC : Etude de Réalisation de Produits de Communication.</li>
          <li><span>4. </span> Pré-MSc : Prépa Master of Science (BAC +3)</li>
          <li><span>5. </span> MSc Pro : Master of Science (BAC +5)</li>
        </ul>
      </div>
    </section>

  </main>

  <footer>
    <p>Développé par Marie Costa - Tous droits réservés ©</p>
    <a id="returnTopEducation"
       (click)="onClick('topPageEducation')">
      Retour en haut de la page</a>
  </footer>

</div>
